:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --input: 240 3.7% 15.9%;
  --border: 240 3.7% 15.9%;

  &.dark,
  &[data-theme='dark'] {
    --primary: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --input: 240 3.7% 15.9%;
    --border: 240 3.7% 15.9%;
  }

  &.light,
  &[data-theme='light'] {
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --input: 240 3.7% 15.9%;
    --border: 240 3.7% 15.9%;
  }

  &.violet,
  &[data-theme='violet'] {
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --input: 240 3.7% 15.9%;
    --border: 240 3.7% 15.9%;
  }

  &.slate,
  &[data-theme='slate'] {
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --input: 240 3.7% 15.9%;
    --border: 240 3.7% 15.9%;
  }
}
