@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
