@import './styles/fonts.css';
@import './styles/themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply antialiased;
    @apply bg-transparent text-[hsl(var(--foreground))];
    @apply font-normal leading-6;

    font-family: Fredoka, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }

  * {
    @apply select-none;
  }

  body {
    @apply flexcenter h-[230px] overflow-hidden;
  }
}

@layer components {
  .btn {
    @apply flexcenter relative h-8 w-8 rounded-full p-2 text-lg text-[hsl(var(--foreground))] transition-colors duration-300 hover:bg-[hsl(var(--foreground))]/20;

    &-close {
      @apply btn text-red-400 hover:bg-red-400/20;
    }

    &-hide {
      @apply btn text-sky-400 hover:bg-sky-400/20;
    }

    &-theme {
      @apply btn text-violet-400 hover:bg-violet-400/20;
    }

    &-pin {
      @apply btn text-orange-400 hover:bg-orange-400/20;

      &.active {
        @apply bg-orange-400/20;
      }
    }
  }

  .main-background {
    @apply bg-[hsl(var(--primary))]/80 text-[hsl(var(--primary-foreground))];
  }

  .ticker {
    &-container {
      @apply relative flex w-80 flex-col text-xl text-[hsl(var(--primary-foreground))];
    }

    &-wrapper {
      @apply main-background flexcenter pointer-events-none w-full gap-1 overflow-hidden rounded-t-2xl px-6 py-9 shadow-xl;
    }

    &-item {
      font-size: 2.4rem;
    }
  }

  .modifier-keycaps {
    @apply mt-0.5 grid grid-cols-4 gap-0.5;
  }

  .keycap {
    @apply px-4 py-3 text-center shadow-md;

    &:first-child {
      @apply rounded-bl-2xl;
    }

    &:last-child {
      @apply rounded-br-2xl;
    }
  }
}

@layer utilities {
  .flexcenter {
    @apply flex items-center justify-center;
  }

  .flexcentercol {
    @apply flexcenter flex-col;
  }
}
